<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WPS_Regression">
  <test thread-count="5" name="Test_Suite">
   <classes>
	<class name="Test_Suite.TestHarness_RegressionSuite">
	<methods>

		<include name="TC33.*" />
        <include name="TC34.*" />
        <include name="TC35.*" />
        <include name="TC36.*" />
        <include name="TC37.*" />
        <include name="TC38.*" />

	</methods>
	</class>
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
